.timeline__line::after {
  content: " ";
  height: 10px;
  width: 100%;
  background-color: #000;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s ease;
}

.biscons_ani {
  animation-duration: 2s;
  animation-name: fadeInDown;
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

.layout {
  padding: 10px;
  max-width: 1250px;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
}

#default-table {
  border-collapse: collapse;
  width: 100%;
  height: auto;
  text-align: left;
}

#default-table td, #default-table th {
  border: 1px solid #ddd;
  padding: 12px;
}

#default-table th {
  background-color: #223B5F;
  font-weight: 700;
  color: #fff;
  font-size: 15px;
}

#default-table td {
  font-size: 15px;
.animate-slow {
  animation-duration: 2s;
  animation-name: zoomIn;
}
@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}
